!!! XML
!!! Strict

%html
  %head
    %title top - Journal Suggstion using MedliNe (JSMN)
    %meta{:"http-equiv"=>"Content-Type", :content=>"text/html", :charset=>"utf-8"}
      %link{:rel => :stylesheet, :href => "./jsmn_stylesheet.sass", :type => "text/css"}

  %body
    %h1.title Journal Suggstion using MedliNe (JSMN)
    %p Input your paper's abstract or keywords (more than 2 words)
    %form{:action => "/JSMN/result", :method => "POST"}
      %textarea{:type => "textarea", :name => "abstract", :cols => "60", :rows => "6"}
      %input{:type => "submit", :value => "submit"}
          
    %h2 About
    %p 入力された英文abstractから類似したjournalを表示します。journal投稿の参考や資料探しにご利用ください。
    %p 推薦には2005年以降のPubMedのデータを用いています

    %h3 更新履歴
    %ul
      %li 2010年12月18日 公開

  
    %h4 Credit
    %ul
      %li
        %a{:href => "http://www.ncbi.nlm.nih.gov/pubmed"}PubMed home
      %li
        %a{:href => "http://dbcls.rois.ac.jp"}Database Center for Life Science
      %li
        %a{:href => "http://twitter.com/y_benjo"}Twitter : @y_benjo
      
