!!! XML
!!! Strict

%html
  %head
    %title top - Journal Suggstion using MedliNe (JSMN)
    %meta{:"http-equiv"=>"Content-Type", :content=>"text/html", :charset=>"utf-8"}
      %link{:rel => :stylesheet, :href => "./jsmn_stylesheet.sass", :type => "text/css"}

  %body
    %h1.title Journal Suggstion using MedliNe (JSMN)
    %p Input your paper's abstract (within 300 words)
    %form{:action => "/JSMN/result", :method => "POST"}
      %textarea{:type => "textarea", :name => "abstract", :cols => "60", :rows => "6"}
      %input{:type => "submit", :value => "submit"}
          
    %h2 About
    %p 入力された英文abstractから投稿すべきJournal及び論文を表示します
    %p 推薦にはPubMedのデータを用いています
          
  
    %h3 Credit
    %a{:href => "http://www.ncbi.nlm.nih.gov/pubmed"}PubMed home<br>
    %a{:href => "http://dbcls.rois.ac.jp"}Database Center for Life Science<br>
    %a{:href => "http://www.freecsstemplates.org/preview/perfectblemish/"}Template Preview (perfectblemish) - Free CSS Templates<br>
    %a{:href => "https://github.com/ybenjo/TinySimHash"}ybenjo/TinySimHash - GitHub<br>
    %a{:href => "http://twitter.com/y_benjo"}Twitter:y_benjo<br>

    %ul
      %li test1
      %li test2
      %li test3
      
