!!! XML
!!! Strict

%html
  %head
    %title result - JSMN (Journal Suggstion using MedliNe)
    %meta{:"http-equiv"=>"Content-Type", :content=>"text/html", :charset=>"utf-8"}
      %link{:rel => :stylesheet, :href => "./jsmn_stylesheet.sass", :type => "text/css"}

  %body
    %h1.title Result
    %table
      %tr
        %th Journal title
        %th Similarity
        - @similarity.each do |v|
          %tr
            %td== #{@content_title[v[0]]}
            %td== #{sprintf("%.5f",v[1])}
                
    %a{:href => "/JSMN"}top